/* App Layout Styling Section */

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: white;
  box-sizing: border-box;
  border: 2px solid white;
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: minmax(auto-fit, 15vh) 1fr;
  grid-template-areas: 
    "dashboard dashboard"
    "sidebar main"
    "sidebar main";
}

.dashboard {
  grid-area: dashboard;
  border-bottom: 2px solid white;
}

.sidebar {
  grid-area: sidebar;
}

.drag-boundary {
  grid-area: main;
  overflow: hidden;
}

/* Dashboard Styling Section */

h1 {
  font-size: max(3vh)
}

/* Sidebar Styling Section */

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  border-right: 2px solid white;
}

.sidebar-title {
  text-align: center;
  height: fit-content;
  box-sizing: border-box;
  margin: 0px;
  padding: .5em;
  border-bottom: 2px solid white;
  font-size: max(2.5vh)
}

.sidebar-list {
  padding: 0;
  margin: 0;
}

.sidebar-item {
  list-style-type: none;
  border-bottom: 2px solid white;
  padding: 4px;
}

/* Chat Room Styling Section */

.chat-board {
  width: fit-content;
  height: fit-content;
  padding: 104px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(auto, auto);
  gap: 12px;
}

.chat-room {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  width: 18em;
  height: 25em;
  border: 2px solid white;
}

.room-title {
  text-align: center;
  height: fit-content;
  box-sizing: border-box;
  margin: 0px;
  padding: .5em;
  border-bottom: 2px solid white;
  font-size: max(2.5vh)
}

.chat-messages {
  overflow-y: auto;
}

.chat-box {
  padding: .2em;
  text-align: center;
}

.chat-text-input {
  margin: 12px;
}
