/* App Layout Styling Section */

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: white;
  box-sizing: border-box;
  border: 2px solid white;
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: minmax(auto-fit, 15vh) 1fr;
  grid-template-areas: 
    "dashboard dashboard"
    "sidebar main"
    "sidebar main";
}

li {
  list-style-type: none;
}

.dashboard {
  grid-area: dashboard;
  border-bottom: 2px solid white;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  height: 10vh;
}

.sidebar {
  grid-area: sidebar;
}

.drag-boundary {
  grid-area: main;
  overflow: hidden;
}

/* Dashboard Styling Section */

h1 {
  margin: 0px;
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
}

.search {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
}

.result-list {
  width: min(45vw, 20rem);
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(calc(5vh) - 1rem);
  position: relative;
  z-index: 1;
}

.search-item {
  width: min(45vw, 20rem);
  height: 1.6rem;
}

.search-text-input {
  box-sizing: border-box;
  height: inherit;
  width: inherit;
  margin-bottom: 2px;
  border: none;
  border-bottom: 2px solid black;
  padding: 0px;
  padding-left: 4px;
}

.result-item {
  border-bottom: 2px solid black;
  padding-top: 6px;
  padding-left: 4px;
  margin: 0px;
  color: black;
  background-color:white;
  height: 1.6rem;
} 

/* Sidebar Styling Section */

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  border-right: 2px solid white;
}

.sidebar-title {
  text-align: center;
  height: fit-content;
  box-sizing: border-box;
  margin: 0px;
  padding: .5em;
  border-bottom: 2px solid white;
  font-size: max(2.5vh)
}

.sidebar-list {
  padding: 0;
  margin: 0;
}

.sidebar-item {
  border-bottom: 2px solid white;
  padding: 4px;
}

/* Chat Room Styling Section */

.chat-board {
  width: fit-content;
  height: fit-content;
  padding: 104px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(auto, auto);
  gap: 12px;
}

.chat-room {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  width: 18em;
  height: 25em;
  border: 2px solid white;
}

.room-title {
  text-align: center;
  height: fit-content;
  box-sizing: border-box;
  margin: 0px;
  padding: .5em;
  border-bottom: 2px solid white;
  font-size: max(2.5vh)
}

.chat-messages {
  overflow-y: auto;
}

.chat-box {
  padding: .2em;
  text-align: center;
}

.chat-text-input {
  margin: 12px;
}
